body
{
	
			background-color:#2a2a2a;
			margin-top:75px;
			margin-left:75px;
			margin-right:auto;
			margin-bottom:auto;
			width:1300px;
			color:#f6b620;
			font-family:"Arial";
			

}
#shell-main
{
			width:1170px;	
}
#shell-top
{
			width:950px;
			height:400px;
			background-image:url('http://198.101.214.138/valar/media/tilegrey.jpg');
			border: 1px solid black;
			margin-left:220px;
}
#shell-banner
{
			background-image:url('http://198.101.214.138/valar/media/bannera.jpg');
			width:950px;
			height: 300px;
			
}
#shell-topstats
{
			width:920px;
			height:70px;
			background-color:#424242;
			margin-top:15px;
			margin-left:15px;
}
#shell-topstats-left
{
	float:left;
	width:165px;
	height:70px;
	margin-left:15px;
	margin-top:5px;
	text-align:left;

}
#shell-topstats-middle
{
	float:left;
	width:165px;
	height:70px;
	margin-top:5px;
	margin-left:10px;
	text-align:left;
}
#shell-topstats-right
{
	float:right;
	width:165px;
	height:70px;
	margin-top:5px;
	text-align:center;
}
#shell-blank
{
			width:1170px;
			height:30px;
			border: opx solid black;
			
}
#shell-content
{
			width:1170px;
}
#shell-middle
{
			width:946px;
			background-image:url('http://198.101.214.138/valar/media/tilegrey.jpg');
			border: 1px solid black;
			float:right;
			margin-left:30px;
}
#shell-nav
{
			float: left;
			background-image:url('http://198.101.214.138/valar/media/tilegrey.jpg');
			border: 1px solid black;
			width:190px;
			height: 205px;
			margin-left:0px;			
}
#shell-usersonline
{
			float: left;
			background-image:url('http://198.101.214.138/valar/media/tilegrey.jpg');
			border: 1px solid black;
			width:190px;
		
			margin-left:0px;
			margin-top:30px;					
}
#shell-usersonline-inner
{
	margin-top:15px;
	margin-right:15px;
	margin-left:15px;
	margin-bottom:15px;
	font-size:17px;
	width:160px;
	float:left;
	border: 1px solid black;
	COLOR: #d4d4d4;
	background-color:#424242;
}
#shell-member-list
{
	margin-left:15px;
	font-size:15px;
}
#shell-newestuser-inner
{
	margin-top:15px;
	margin-right:15px;
	margin-left:15px;
	margin-bottom:15px;
	font-size:17px;
	width:160px;
	float:left;
	COLOR: #d4d4d4;
	border: 1px solid black;
	background-color:#424242;
	
}
#shell-newestuser
{
			float: left;
			background-image:url('http://198.101.214.138/valar/media/tilegrey.jpg');
			border: 1px solid black;
			width:190px;

			margin-left:0px;
			margin-top:30px;					
}
#shell-frontpage-post-200
{
			width:910px;
			height:200px;
			background-color:#424242;
			margin-left:15px;
			margin-top:15px;
			margin-bottom:15px;
			border: 1px solid black;
			float: left;

}
#shell-frontpage-post-250
{
			width:910px;
			height:250px;
			background-color:#424242;
			margin-left:15px;
			margin-top:15px;
			margin-bottom:15px;
			border: 1px solid black;
			float: left;

}
#shell-frontpage-post-300
{
			width:910px;
			height:300px;
			background-color:#424242;
			margin-left:15px;
			margin-top:15px;
			margin-bottom:15px;
			border: 1px solid black;
			float: left;

}
#shell-frontpage-space
{
	position: relative;
	width:910px;
	height:30px;
	border: 0px solid black;
	float: left;
}
#shell-frontpage-post-pic
{
			float:left;
			width:130px;
			height:130px;
			background-color:#424242;
			margin-left:0px;
			margin-top:0px;
			border-right: 1px solid black;
			border-bottom: 1px solid black;

}
#shell-frontpage-post-subj
{
			width:770px;
			height:20px;
			background-color:#424242;
			float:top;
			margin-left:128px;
			border-bottom: 1px solid black;
			padding: 1px 5px;
			font-size:14px;
}
#shell-frontpage-post-text
{
			float:right;
			margin-top:20px;
			margin-right:5px;
			height:200px;
			width:770px;
			COLOR: #d4d4d4;
			font-size:13px;
			

	
}
#shell-frontpage-post-info
{
		float:left;
		width:120px;
		margin-left:5px;
		margin-top:5px;
		
}
#navigation 
{
	margin-top:15px;
	margin-right:15px;
	margin-left:15px;
	font-size:17px;
	width:160px;
	float:left;
	border: 1px solid black;
	background-color:#424242;

}
#navigation ul {margin:0px; padding:0px;}
#navigation li {list-style: none;} 
#navigation a {
margin-left:10px;
 cursor: pointer;
 display:block;
 height:25px;
 line-height: 25px;
 text-indent: 10px;
 text-decoration:none;
 width:100%;
 font-style:normal;

}
#navigation a:hover{
 text-decoration:none;
COLOR: #f6b620;
}

#navigation li:hover {
 background: #565656;
 position: relative;

 COLOR: #d4d4d4;

}
a:link
{
COLOR: #d4d4d4;
}
a:visited {
COLOR: #d4d4d4;
}
ul.sub-level {
    display: none;
	 color:#f6b620;
}
li:hover .sub-level {
	margin-left:10px;
	padding: 5px 5px;
    background: #424242;
    border: black solid;
    border-width: 1px;
    display: block;
    position: absolute;
    left: 160px;
    top:0px;
}
ul.sub-level li {
    border: none;
    float:left;
    width:150px;
}
#shell-footer
{
		
			width:915px;
			height:45px;
			background-color:#424242;
			border: 1px solid black;
			margin-top:15px;
			margin-bottom:15px;
			margin-left:15px;
			margin-right:15px;
			
}
#shell-bottom
{
			margin-top:30px;
			width:945px;
			height:75px;
			float:right;
			background-image:url('http://198.101.214.138/valar/media/tilegrey.jpg');
			border: 1px solid black;
			margin-left:220px;
}
#thread-list
{
			width:945px;
			height:800px;
			background-image:url('http://198.101.214.138/valar/media/tilegrey.jpg');
			border: 1px solid black;
			float: right;
					
}
#thread-one
{
		width:1000px;
		border: 1px solid black;
		height:50px;
		float: none;
		
	
}
#thread-picture
{
	
		width:50px;
		height:50px;
		float:none;

}
#thread-title
{

		
		background:#424242;
		margin-top:0px;
		margin-left:0px;
		margin-bottom:0px;
		margin-right:0px;
		
		width:200px;
}
#thread-author
{
		
		background:#424242;
		height:40px;
		width:100px;
}
#thread-subject
{
		
		background:#424242;
		height:50px;
		width:200px;
}
#thread-date
{
		
		background:#424242;
		height:50px;
		width:125px;
}
#thread-hits
{
		
		background:#424242;
		height:50px;
		width:40px;
}
#thread-replies
{
	
		background:#424242;
		height:50px;
		width:40px;
}
#thread-space
{
	float:left;
	width:945px;
	height:15px;
}